<form class="form editableform">
    <div class="control-group control-text-area">
        <div class="editable-dropdown">
            {{#if view.source.isLoaded}}       
                {{view Ember.Select contentBinding="view.source" valueBinding="view.editableValue.id" optionValuePath="content.id" optionLabelPath="content.name" name="view.fieldName" classNames="input-big"}}
            {{else}}
                {{view App.SpinnerSmallView loadingMessage="Loading..."}}
            {{/if}}
        </div>
        <div class="editable-buttons">
            <button type="submit" class="editable-submit" {{action save target="view"}}>
                <i class="habitat-icon-check"></i>
            </button>
            <button type="button" class="editable-cancel" {{action cancel target="view"}}>
                <i class="habitat-icon-cancel"></i>
            </button>
        </div>
    </div>
</form>